{{#if compactMode}}
    <a href="{{url}}" title="{{tooltip}}" class="left-menu__link {{#if config}}left-menu__link_purple {{/if}}{{type}} {{id}}"><span class="left-menu__txt"></span></a>
{{else}}
    <a href="{{url}}" title="{{tooltip}}" class="left-menu__link {{#if config}}left-menu__link_purple {{/if}}{{type}} {{id}}"><span class="left-menu__txt">{{name}}</span></a>
{{/if}}